
.priority-buttons label{
  padding-right: 20px;
}

.priority-buttons{
  display: flex;
  align-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  justify-content: center;
}
.low {
  border-color: green;
}

.medium {
  border-color: orange;
}

.high {
  border-color: red;
}
.priority {
  border-style: solid;
}

.save-button {
  background-color: black;
  color: white;
  padding: 15px 30px;
}

li  {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 15px;
}

h1 {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}
